body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    width: 100%;
}

.footer {
    background-color: #24262b;

    display: flex;
    justify-content: center;
    /* Align items to the right */
    padding: 20px;
    color: #fff;

}

.footer-col {
    width: auto;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}


.row {
    display: flex;
    flex-wrap: wrap;
}

main {
    text-align: left;
}


header {
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    color: white;
    padding: 15px 0;
    display: flex;
    font-weight: bold;
    justify-content: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    margin-right: 15px;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.cta-container {
    display: flex;
    align-items: center;
}

.cta-button {
    display: flex;
    align-items: center;
    background-color: #0073c0;
    color: #fff;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 15px;
}

.cta-button:hover {
    background-color: #00569c;
}

.cta-button:focus,
.cta-button:active {
    outline: none;
    box-shadow: none;
}


.cta-container p {
    margin: 0;
    color: #b1b1b1;
}

.searchbar {
    background-color: white;
    border: 1px snow;
    border-radius: 50px;
    max-width: 230px;
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    position: relative;


}

.searchbar:hover {
    background-color: whitesmoke;
}


.searchbox {
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    border: 1px snow;
    border-radius: 100px;
    max-width: min-content;
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    position: relative;

}

.searchbox:hover {
    background: linear-gradient(60deg, rgb(0, 0, 0) 0%, rgb(0, 61, 69) 100%);
}




/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 5em;
    height: 2.5em;
    user-select: none;
}

/* Hide default HTML checkbox */
.switch .cb {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.toggle {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: #373737;
    border-radius: 0.1em;
    transition: 0.4s;
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
    box-shadow: -0.3em 0 0 0 #373737, -0.3em 0.3em 0 0 #373737,
        0.3em 0 0 0 #373737, 0.3em 0.3em 0 0 #373737, 0 0.3em 0 0 #373737;
}

.toggle>.left {
    position: absolute;
    display: flex;
    width: 50%;
    height: 88%;
    background-color: #f3f3f3;
    color: #373737;
    left: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    transform-origin: right;
    transform: rotateX(10deg);
    transform-style: preserve-3d;
    transition: all 150ms;
}

.left::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(206, 206, 206);
    transform-origin: center left;
    transform: rotateY(90deg);
}

.left::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(112, 112, 112);
    transform-origin: center bottom;
    transform: rotateX(90deg);
}

.toggle>.right {
    position: absolute;
    display: flex;
    width: 50%;
    height: 88%;
    background-color: #f3f3f3;
    color: rgb(206, 206, 206);
    right: 1px;
    bottom: 0;
    align-items: center;
    justify-content: center;
    transform-origin: left;
    transform: rotateX(10deg) rotateY(-45deg);
    transform-style: preserve-3d;
    transition: all 150ms;
}

.right::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(206, 206, 206);
    transform-origin: center right;
    transform: rotateY(-90deg);
}

.right::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(112, 112, 112);
    transform-origin: center bottom;
    transform: rotateX(90deg);
}

.switch input:checked+.toggle>.left {
    transform: rotateX(10deg) rotateY(45deg);
    color: rgb(206, 206, 206);
}

.switch input:checked+.toggle>.right {
    transform: rotateX(10deg) rotateY(0deg);
    color: #487bdb;
}

.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

.drawer {
    height: 0;
    width: 100%;
    /* Full width of the viewport */
    position: relative;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    overflow: hidden;
    transition: height 0.3s ease;
}

.drawer.open {

    height: -webkit-fill-available;
    display: grid;
    padding: 20px;
    font-size: larger;
    font-weight: bold;
    --s: 200px;
    /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    background: repeating-conic-gradient(from 30deg,
            #0000 0 120deg,
            var(--c3) 0 180deg) calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
        repeating-conic-gradient(from 30deg,
            var(--c1) 0 60deg,
            var(--c2) 0 120deg,
            var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s) * 0.577);
    color: white;
    width: -webkit-fill-available;
}

.drawer nav ul {
    list-style-type: none;
    padding: 0;
}

.drawer nav ul li {
    margin-bottom: 10px;
}

.drawer a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

.drawer a:hover {
    color: #00a6ff;
}

.drawer .toggle a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.drawer-button {
    background-color: transparent;
    border: oldlace;
    font-size: xx-large;
    color: white;
    padding-right: 37px;
    font-weight: bold;
}

/* Style for the overlay */
.custom-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* Style for the dialog */
.custom-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: max-content;
    padding: 20px;
    z-index: 1001;
    font-weight: 700;
}

/* Style for form elements */
.custom-form-group {
    margin-bottom: 15px;
}

.custom-form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.custom-form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: large;
}

.custom-form-group button {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.custom-form-group .checkbox-label {
    margin-bottom: 5px;
    display: block;
}

.custom-form-group .form-link {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
}

.custom-container {
    max-width: max-content;
    background: #F8F9FD;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
    border-radius: 40px;
    padding: inherit;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    margin: auto;
}

.custom-heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: rgb(16, 137, 211);
}

.custom-form {
    margin-top: 20px;
}

.custom-form .custom-input {
    width: -webkit-fill-available;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
}

.custom-form .custom-input::-moz-placeholder {
    color: rgb(170, 170, 170);
}

.custom-form .custom-input::placeholder {
    color: rgb(170, 170, 170);
}

.custom-form .custom-input:focus {
    outline: none;
    border-inline: 2px solid #12B1D1;
}

.custom-form .forgot-password {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    float: right;
    margin-bottom: 10px;
}

.custom-form .forgot-password a {
    font-size: 11px;
    color: #0099ff;
    text-decoration: none;
}

.custom-form .custom-login-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
    font-size: large;
    font-weight: bold;
}

.custom-form .custom-login-button:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.custom-form .custom-login-button:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}

.custom-register-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
    font-size: large;
}

.custom-register-button:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.custom-register-button:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}

.custom-social-account-container {
    margin-top: 25px;
}

.custom-social-account-container .title {
    display: block;
    text-align: center;
    font-size: 10px;
    color: rgb(170, 170, 170);
}

.custom-social-button {
    background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
    border: 5px solid white;
    padding: 14px;
    border-radius: 25px;
    width: -webkit-fill-available;
    display: grid;
    color: white;
    place-content: center;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 12px 10px -8px;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
    font-size: large;
}

.custom-social-button:hover {
    transform: scale(1.2);
}

.custom-social-button:active {
    transform: scale(0.9);
}

.custom-agreement {
    display: block;
    text-align: center;
    margin-top: 15px;
}

.custom-agreement a {
    text-decoration: none;
    color: #0099ff;
}

.custom-logo-container {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
}

.custom-form-submit-btn:hover {
    background-color: #313131;
}

.custom-link {
    color: #1778f2;
}

.custom-link:hover {
    text-decoration: underline;
}

.custom-title {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.custom-message {
    color: #a3a3a3;
    font-size: 14px;
    margin-top: 4px;
    text-align: center;
}

.custom-inputs {
    margin-top: 10px;
    text-align: center;
}

.custom-inputs input {
    width: 32px;
    height: 32px;
    text-align: center;
    border: none;
    border-bottom: 1.5px solid #d2d2d2;
    margin: 0 10px;
}

.custom-inputs input:focus {
    border-bottom: 1.5px solid royalblue;
    outline: none;
}

.custom-action {
    margin-top: 24px;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    background-color: royalblue;
    color: white;
    cursor: pointer;
    align-self: end;
}

.custom-p {
    font-weight: normal;
    font-size: x-large;
    text-align: center;
}

.checkbox-wrapper-65 *,
.checkbox-wrapper-65 ::after,
.checkbox-wrapper-65 ::before {
    box-sizing: border-box;
}

.checkbox-wrapper-65 .cbx {
    position: relative;
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: #1c4780;
    background-image: linear-gradient(#0f698d, #1d3c6b);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.15), inset 0 -1px 1px rgba(0, 0, 0, 0.15);
    transition: all 0.15s ease;
}

.checkbox-wrapper-65 .cbx svg {
    position: absolute;
    top: 3px;
    left: 3px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 17;
    stroke-dashoffset: 17;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-65 .cbx+span {
    float: left;
    margin-left: 6px;
}

.checkbox-wrapper-65 {
    user-select: none;
    margin: inherit;
    font-size: small;
    font-weight: 500;

}

.checkbox-wrapper-65 label {
    display: inline-block;
    cursor: pointer;
}

.checkbox-wrapper-65 input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.checkbox-wrapper-65 input[type="checkbox"]:checked+.cbx {
    background-color: #606062;
    background-image: linear-gradient(#2584d2, #1d52c1);
}

.checkbox-wrapper-65 input[type="checkbox"]:checked+.cbx svg {
    stroke-dashoffset: 0;
    transition: all 0.15s ease;
}

.Topbar {
    width: 100%;
    background-image: url(../img/topbar.jpg);
    background-attachment: fixed;
    background-size: contain;
    border: 5px rgba(255, 255, 255, 0.2);
}

.Topbar .textbar {
    display: block;
    position: relative;
    text-align: center;
    padding: 32px;

}

.Topbar .textbar span {
    color: white;
    font-size: 300%;
    font-weight: bolder;
}

.Topbar .textbar span u {
    color: linear-gradient(#2584d2, #1d52c1);
    font-size: 60%;
    font-weight: 300;
}


/* Main section styles */
section {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: white;
    margin-top: 25px;
    margin-bottom: 25px;
}

.section-text {
    width: calc(50% - 20px);
    /* Adjust width as needed */
    padding: 0 20px;
    text-align: left;
    background-color: wheat;
}

.section-text h4 {
    color: #1d1d1d;
}

.section-text h2 {
    background-color: floralwhite;
}


.section-image {
    width: calc(50% - 20px);
    /* Adjust width as needed */
    padding: 0 20px;
}

.section-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.section-image2 img {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 25%;
}

@media screen and (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

    nav li {
        display: none;
    }

    .section-content {

        display: block;

    }

    .section-text {
        width: 100%
    }

}

/* Medium devices (tablets) */
@media screen and (max-width: 1023px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

    nav li {
        display: none;
    }
}

/* Large devices (desktops) */
@media screen and (min-width: 1023px) and (max-width: 1195px) {
    .footer-col {
        width: 25%;
    }

    nav li {
        display: none;
    }
}

@media screen and (min-width: 1195px) {
    .drawer-button {
        display: none;
    }
}

.event-card {

    margin: 10px;
    background-color: wheat;
    border-radius: 8px;

    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.event-card h2 {
    background-color: whitesmoke;
    border-radius: 8px;
}

.sub {
    margin: 25px;
}

.input {
    max-width: 190px;
    padding: 15px;
    font-size: 17px;
    color: black;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    border: 2px solid #fff;
    margin-right: -10px;
}

.button {
    border: none;
    background-color: #1363DF;
    text-decoration: none;
    padding: 15px;
    padding-bottom: 17px;
    font-size: 17px;
    color: #fff;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    cursor: pointer;
}

.sidebar {
    flex: 1;
    padding: 20px;
    background-color: #f8f8f8;
    border-right: 1px solid #ccc;
}

.main-content {
    flex: 3;
    padding: 20px;
}


input[type="date"],
input[type="time"],
select,
input[type="text"] {
    margin-bottom: 10px;
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Custom Event Card Styles */
.custom-event-card {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.custom-event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.custom-event-card h3 {
    margin-bottom: 10px;
    color: #007bff;
}

.custom-event-card p {
    margin-bottom: 10px;
}

.custom-event-card img {
    max-width: 300px;
    margin-right: 20px;
}



.container {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar,
    .main-content {
        width: 100%;
    }

    .custom-event-card img {
        max-width: 80px;
        margin-right: 10px;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    margin: 20px;
}

.gallery-item {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.gallery-item video {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.gallery-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}